{% extends 'base.html' %}

{% block content %}
<main>
    <h1>Your Shopping List</h1>
    <ul>
        {% for item in shoppingitem_list %}
        <li>{{ item.food_item }}</li>
        {% endfor %}
    </ul>
</main>
{% endblock content%}
